# OS
.DS_Store

# Editors / IDE
.vscode/
.idea/

# Logs
*.log

# Go test / coverage artifacts
*.out
*.test
coverage.out

# Local tools
bin/

# Wails generated artifacts
build/bin/
frontend/wailsjs/
frontend/node_modules/

# Temp files
tmp/
